<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.haoduoyu.demoapp">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dropdownlistview.DropDownListViewActivity"
            android:label="DropDownListViewActivity" />
        <activity
            android:name=".span.SpanActivity"
            android:label="SpanActivity" />
        <activity
            android:name=".device.DeviceActivity"
            android:label="DeviceActivity" />
        <activity
            android:name=".canvas.CanvasActivity"
            android:label="CanvasActivity" />
        <activity
            android:name=".webview.WebViewActivity"
            android:label="WebViewActivity" />
        <activity
            android:name=".downloadservice.DownloadActivity"
            android:label="DownloadActivity" />
        <activity
            android:name=".sort.SortActivity"
            android:label="SortActivity" />
        <activity
            android:name=".asynctask.AsyncTaskActivity"
            android:label="AsyncTaskActivity" />
        <activity
            android:name=".viewdraghelper.ViewDragHelperActivity"
            android:label="ViewDragHelperActivity" />
        <activity
            android:name=".stickylayout.StickyLayoutActivity"
            android:label="StickyLayoutActivity" />
        <activity
            android:name=".dialog.DialogActivity"
            android:label="DialogActivity" />
        <activity
            android:name=".rxjava.RxJavaActivity"
            android:label="RxJavaActivity" />
        <activity
            android:name=".mvp.login.MVPActivity"
            android:label="MVPActivity" />

        <activity
            android:name=".aidl.AidlActivity"
            android:label="AidlActivity" />

        <activity
            android:name=".moretextview.MoreTextViewActivity"
            android:label="MoreTextViewActivity" />

        <service android:name=".downloadservice.DownloadService"></service>
    </application>
</manifest>
